# learnu3d_hair
learnu3d_hair/Assets/*
learnu3d_hair/Library/*
learnu3d_hair/Logs/*
learnu3d_hair/Packages/*
learnu3d_hair/ProjectSettings/*
learnu3d_hair/UserSettings/*

learnu3d_hair/.vsconfig
learnu3d_hair/Assembly-CSharp-Editor.csproj
learnu3d_hair/Assembly-CSharp.csproj
learnu3d_hair/HairSim_Demo.csproj
learnu3d_hair/learnu3d_hair.sln

# learnu3d_glassrain
learnu3d_glassrain/Library/*
learnu3d_glassrain/Logs/*
learnu3d_glassrain/Packages/*
learnu3d_glassrain/ProjectSettings/*
learnu3d_glassrain/UserSettings/*

learnu3d_glassrain/.vsconfig
learnu3d_glassrain/Assembly-CSharp-Editor.csproj
learnu3d_glassrain/Assembly-CSharp.csproj
learnu3d_glassrain/learnu3d_glassrain.sln

# learnu3d_DOTS
learnu3d_DOTS/.vs/*
learnu3d_DOTS/Library/*
learnu3d_DOTS/Logs/*
learnu3d_DOTS/obj/*
learnu3d_DOTS/Packages/*
learnu3d_DOTS/Temp/*

learnu3d_DOTS/.vsconfig
learnu3d_DOTS/Assembly-CSharp-Editor.csproj
learnu3d_DOTS/Assembly-CSharp.csproj
learnu3d_DOTS/learnu3d_DOTS.sln